<h2> Products List </h2>
{{#each productsData}}
<ul>
    <li>{{this.title}}</li>
    <li>{{this.price}}</li>
    <img src={{this.thumbnail}} alt={{this.title}}>
</ul>
{{/each}}
{{#unless productsData}}
    <h4>No products found</h4>
{{/unless}}
<div id="chat">
{{#each chatData}}
    <div>
        <strong style='color:blue'> {{this.email}}</strong>
        <span style='color:brown'>{{this.date}}: </span>
        <em style='color:green'> {{this.message}} </em>
    </div>
{{/each}}
</div>