<div class="login-greetings">
    <h1>
        Welcome {{user.name}}!
    </h1>
    <img src={{user.avatar}} alt="user avatar">
    <br/>
    <button onclick="location.href='/logout'">
        Log out
    </button>
    <br/>
    <h4>Your info:</h4>
    <ul>
        <li>Address: {{user.address}}</li>
        <li>Age: {{user.age}}</li>
        <li>Phone: +{{user.countryCode}} {{user.phone}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
    <br/>
    <button onclick="location.href='/api/products'">See all products</button>
    <br/>
    <button onclick="location.href='/cart'">My cart</button>
    <script type="module" src="./JS/index.js"></script>
</div>